<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../../public/js/bootstrap.min.js">
        <link rel="stylesheet" href="../../public/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../public/css/style.css">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong></strong> Login Form</h1>
                            <div class="description">
                            	
                            </div>
                        </div>
                    </div>
                <div align="center">
                    <div class="row" style="width: 25%;">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top" >
                        		<div class="form-top-left">
                        			<h3>Login to our site</h3>
                            		<p>Enter username and password to log on:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
                             

                                                <% if (error.length > 0) { %>
                          <div class="alert alert-danger"><%- error %></div>
                          <% } %>

                           <% if (success.length > 0) { %>
                          <div class="alert alert-success"><%- success %></div>
                          <% } %>

                                
                                
                                
			                    <form role="form" action="/login" role="form" method="post" class="login-form" >
			                    	<div class="form-group" >
			                    		<label class="sr-only" for="form-username">Email:</label>
			                        	<input type="text" name="email" required  placeholder="Email..." class="form-username form-control" id="email"style="margin-left: 2.3em;">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password:</label>
			                        	<input type="password" required name="password" placeholder="Password..." class="form-password form-control" id="password">
			                        </div>
                                    <button type="submit" class="btn" style="width: 50%;margin-top: 0.5em;margin-left: 5em;border-radius: 10px;">Sign in!</button>
                                </form>
                                <form action="/signup"  role="form" method="get">
                                    <button type="submit" class="btn" style="width: 50%;margin-top: 0.5em;margin-left: 5em;border-radius: 10px;">Sign up!</button>
                                </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h3>...or login with:</h3>
                        	<div class="social-login-buttons">
	                        	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
	                        		<i class="fa fa-facebook"></i> Facebook
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
	                        		<i class="fa fa-twitter"></i> Twitter
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-google-plus" href="#">
	                        		<i class="fa fa-google-plus"></i> Google Plus
	                        	</a>
                        	</div>
                        </div>
                    </div>
                </div>
            </div> 
            </div>
            
        </div>


        <!-- Javascript -->
        <script type="application/javascript" src="../../public/js/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../public/js/script.js"></script>

    </body>

</html>