body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('../../public/img/background.jpg');
  max-width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
button {
  border-radius: 12px;
}
input[type=submit] {
  border: 1px solid #777;
  border-radius: 12px;
}input[type=file] {
  border: 1px solid #777;
  border-radius: 12px;
}